<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travel Buddy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
  </head>

  <div class="jumbotron text-center">
    <h1>Travel Buddy</h1>
    <p>Making traveling easier for the millineal generation!</p>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Travel Buddy</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="myProfile.html">My Profile</a></li>
          <li><a href="locationTours.html">Location Tours</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Local Forums
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Art</a></li>
              <li><a href="#">Historical Landmark</a></li>
              <li><a href="http://localhost:5000/outdoor-message-board">Outdoors</a></li>
              <li><a href="#">Restaurants</a></li>
              <li><a href="#">Shopping</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
    <!-- <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-primary">Location Tours</a>
      <a href="#" class="btn btn-primary">Matches</a>
    </div> -->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
      <!-- Left-aligned -->
        <div class="media">
          <div class="media-left">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSVb-y6t_RVeL_LvV8Cq0PYUauYQrwKA_5LQ0r9xhHbh8FQmFFMVg" class="media-object" style="width:400px">
          </div>
        </div>
      </div>

      <div class="col-sm-6">
      <!-- Right-aligned -->
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">Name: John Doe</h4>
                <h4 class="media-heading">  - </h4>
                <h4 class="media-heading">Age: 23</h4>
                <h4 class="media-heading">  - </h4>
                <h4 class="media-heading">Languages: English, Korean, Swahili </h4>
                <h4 class="media-heading">  - </h4>
                <h4 class="media-heading">Interests: Outdoor, Art, Shopping</h4>
                <h4 class="media-heading">  - </h4>
                <h4 class="media-heading">Hobbies: Teaching students how to program</h4>
                <h4 class="media-heading">  - </h4>
                <h4 class="media-heading">Summary: <p>My name John. I am a junior at the University of Seoul in South Korea studying Electrical Engineering & Computer Science with a minor in English. I aspires to create his own business; and eventually create my own school. I really need a break from all my work and am taking a few weeks to travel to Europe before summer school starts. I will be in Berkeley, CA for the next 2 weeks and am looking for fun things to do.</p></h4>
            </div>
          <div class="media-right"></div>
        </div>
      </div>
    </div>
  </div>



  
  
  </div>
</html>
