<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Young Travlers' Helper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
  </head>

  <div class="jumbotron text-center">
    <h1>Young Travlers' Helper</h1>
    <p>Making traveling easier for the millineal generation!</p>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Young Travelers' Helper</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="myProfile.html">My Profile</a></li>
          <li><a href="locationTours.html">Location Tours</a></li>
          <li><a href="localMatches.html">Local Matches</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    <!-- <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-primary">Location Tours</a>
      <a href="#" class="btn btn-primary">Matches</a>
    </div> -->
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
      <!-- Left-aligned -->
        <div class="media">
          <div class="media-left">
            <img src="https://www.followyoursport.com/img/profile-placeholder-.svg" class="media-object" style="width:400px">
          </div>
        </div>
      </div>

      <div class="col-sm-6">
      <!-- Right-aligned -->
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">Name: John Doe</h4>
                <h4 class="media-heading">Age: 23</h4>
                <h4 class="media-heading">Interests: Teaching students how to program</h4>
                <h4 class="media-heading">Hobbies: Reading, Tennis, Trying new resturaunts, Sketching, Pacrastinating, Soccer</h4>
                <h4 class="media-heading">Summary: <p>John is a junior at the UC Berkeley studying Computer Science and Cognitive Science with a minor in English. He aspires to create his own business; and eventually his own school. Technology and computing have assumed large roles in everyday interactions and services; many youth today are beginning to use technology at an earlier age for communication and studies. He really wants to go on to own his own turtoring prpgram and teach .He is takiung a few weesk to travel to Europe before he starts his internship.</p></h4>
            </div>
          <div class="media-right"></div>
        </div>
      </div>
    </div>
  </div>



  
  
  </div>
</html>
